body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  background-image: url("./images/1619054.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.monitor-page {
  padding: 20px;
  border-radius: 28px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 100px;
  margin-bottom: 50px;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

.monitor-status {
  font-weight: bold;
  font-size: 13px !important;
  margin: 10px !important;
}

.monitor-changes {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th,
tr {
  color: white;
}

.change-type-added {
  color: green;
}

.change-type-removed {
  color: red;
}

.change-type-modified {
  color: blue;
}

.screenshot {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 10px;
}
